.main_title {
  font-family: "Mountains of Christmas", serif;
  font-size: 48px;
  color: #ff0000;
  font-weight: 700;
  position: fixed;
  top: 0%;
<<<<<<< HEAD:Grinch_game/src/components/header/header.css
  left: 8%;
=======
  left: 6%;
>>>>>>> 711d5e834408c14454619f52fe6c9ec40b9381b6:Grinch_game/src/components/header.css
}
