.title_validation2 {
  color: #ffffff;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 48px;
  margin: 5rem 0 0 0;
  padding: 20px;
}
.Grinch_valid {
  width: 50%;
  margin-bottom: 1rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.joueur4 {
  color: #42ff00;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px #42ff00;
  padding: 10px;

  margin-bottom: 10%;
  background-color: black;
}
.joueur8 {
  color: #ffffff;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px white;
  padding: 10px;

  margin-bottom: 10%;
  background-color: black;
}
.joueur1 {
  color: #ffffff;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px white;
  padding: 10px;
  background-color: black;
  margin-bottom: 10%;
}
.joueur3 {
  color: #ff0000;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px #ff0000;
  padding: 10px;
  background-color: black;
  margin-bottom: 10%;
}
.santaclaus2 {
  width: 50%;
}
.btn2 {
  color: #ffffff;
  font-family: "Mouse Memoirs", sans-serif;
  border-radius: 28%;
  width: 90%;
  background-color: black;
  border-color: #ffffff;
  margin-bottom: 10%;
  padding: 13px;
}
