.title_validation {
  color: #ffffff;
  font-family: "Mountains of Christmas", serif;
  font-size: 48px;
  margin: 4rem 0 1rem 0;
  border: solid 1px white;
  padding: 20px;
  width: 90%;
  border: 40%;
  margin-bottom: 10%;
  margin-top: 6rem;
  margin-left: -4%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.joueur {
  color: #207c00;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px white;
  padding: 10px;
  background-color: #d9d9d9;
  width: 90%;
  margin-bottom: 10%;
}
.joueur2 {
  color: #ff0000;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px white;
  padding: 10px;
  background-color: #d9d9d9;
  width: 90%;
  margin-bottom: 10%;
}
.joueur {
  color: #207c00;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px white;
  padding: 10px;
  background-color: #d9d9d9;
  margin-right: 80px;
}
.joueur {
  color: #207c00;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  border: solid 1px white;
  padding: 10px;
  background-color: #d9d9d9;
}
.btn_player {
  height: 3rem;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-family: "Mouse Memoirs";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 35px;
  text-align: center;
  color: #42ff00;
  padding-top: 6px;
  background-color: black;
  margin-bottom: 2rem;
  width: 90%;
}
